<div class="container">
  <%= render 'side_nav' %>
  <main class="main-section">
    <%= render 'header_nav' %>
    <div class="wrapper">
      <section class="big-section">
        <div class="b-bottom">
          <div class="tab">
            <div class="tab-p">
              <p>TWEETS</p>
            </div>
          </div>
        </div>
        <div class="tweets">
          <div class="new-tweet">
            <p>TWEET SOMETHING</p>
            <%= form_for @opinion, url: new_opinion_path  do |f| %>
              <%= f.text_area :content, placeholder: "Compose new tweet" %>
              <% if @opinion.errors[:content][0]  %>
                <p class="error">* <%= @opinion.errors[:content][0] %></p>
              <% end %>
              <%= f.submit "Tweet" %>
            <% end %>
          </div>

          <% if @opinions.any? %>
            <div class="my-related-tweets">
              <% @opinions.each do |opinion| %>
                <div class="opinion">
                  <%= image_tag opinion.user.photo.thumb.url %>
                  <div class="opinion-user">
                    <h4><%= opinion.user.fullname %></h4>
                    <p><%= opinion.content %></p>
                  </div>
                </div>
              <% end  %>
            </div>
          <% end %>
        </div>
      </section>
      <aside class="side-bar">
        <div class="followers-hero">
          <p class="followers-hero-p">WHO TO FOLLOW</p>
          <i class="material-icons">sync</i>
        </div>

        <div class="find-friends">
          <% @users.each do |user| %>
            <div class="user">
              <% unless user[:photo].nil? %>
                <%= image_tag user.photo.thumb.url %>
              <% else %>
                <%= gravatar_for user, size: 50 %>
              <% end %>
              <h6><%= user.fullname %></h6>
            </div>
          <% end %>
        </div>
      </aside>
    </div>
  </main>
</div>
